/* Global Styles
-----------------------*/
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #4f445d;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}
a {
  color: #d3ebe8;
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 85px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
}
h3 {
  margin-bottom: 0;
}
item-details h3 + p {
  font-style: italic;
}
item-details h3 ~ p {
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
.divider > section {
  border-bottom: 1px dashed #464141;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
ul {
  margin: 0 auto;
  display: flex;
  list-style: none;
  padding: 15px 80px;
  justify-content: space-between;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-list {
  display: flex;
  border: 1px hidden;
  background: #4f445d;
}
#welcome-section {
  height: 100vh;
}
#profile-link {
  padding-top: 50px;
  padding-bottom: 10px;
  float: center;
}

/* Profile
  -----------------------*/
header {
  /* background-image: url('https://i.postimg.cc/Sx7Qd0V6/whale1.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-weight: 800;
  background-color: white;
}
.example {
  line-height: 1.2;
}
.about {
  line-height: 1.8;
  font-size: 18px;
}

/* Projects
  -----------------------*/
#projects {
  background: #cae1d1;
}
.projects {
  overflow: hidden;
  text-align: center;
  padding: 5px 10px;
}

.projects h3 {
  margin-top: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 40px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.project-image {
  height: 85%;
  width: 100%;
}

.project-title {
  font-size: 20px;
  padding-bottom: 15px;
  color: #4f445d;
}

/* Work Experience
  -----------------------*/
.work {
  background: #cfd2d4;
}
.work a {
  color: #d3ebe8;
  background: #4f445d;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
  display: inline-block;
}
.work a:hover {
  background: #cae1d1;
}
.job {
  display: inline;
}

/* Education
  -----------------------*/
.education {
  background-color: #d3d5eb;
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}
.education h3 {
  font-size: 23px;
}
/* Contact Info
  -----------------------*/
footer {
  background: #4f445d;
  color: #d3ebe8;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
  color: #d3ebe8;
  font-weight: normal;
}
/* Responsive
  -----------------------*/
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .projects img {
    float: left;
    margin: 5px;
    padding-bottom: 25px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list {
    display: grid;
    justify-content: left;
  }
  .nav {
    justify-content: center;
  }
  .nav-list {
    margin: 0;
    padding: 10px;
  }
  .nav-list li {
    border-right: 1px solid #cae1d1;
    margin-right: 5px;
    padding-right: 10px;
  }
  .nav-list a {
    display: block;
    font-size: 0.8rem;
    padding: 0px;
  }
  .projects-grid {
    grid-template-columns: fit-content(100%);
  }
  .project-image {
    height: 70%;
    width: 100%;
  }

  .about {
    font-size: 12.5px;
    margin-bottom: 20px;
  }
  .content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
  }
  .example {
    font-size: 40px;
  }

  .example2 {
    font-size: 30px;
  }
}
